# Core
streamlit==1.47.1
python-dotenv==1.1.1
nest-asyncio==1.6.0

# Database
motor==3.7.1
pymongo==4.14.0

# OpenAI / LLM services
openai==1.88.0
langchain==0.3.25
huggingface-hub==0.30.2
transformers==4.51.3

# Utilities
pandas==2.2.3
numpy==2.2.5
tiktoken==0.9.0
